.form-label {
     float: left !important;
 }

.changeButton{
     background-color: #41e0fd !important;
     border-color: #41e0fd !important;
}

.changeText{
     color: #41e0fd !important;
}

.changeText1{
     color: #41e0fd !important;

}

.color{
     color: white !important;
     border-radius: 10px;
     cursor: pointer;
}